.shimmer-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.shimmer{
    width: 27rem;
    height: 27rem;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 1rem;
    box-shadow: 0.6rem  0.6rem hsl(0, 0%, 0%);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin: 3rem;
    cursor: pointer;
    background: linear-gradient(to right, #ddd 0%, #fff 50%, #ddd 100%);
    background-size: 200% 100%;
    animation: pulse 1.5s infinite linear;
}

@keyframes pulse {
    0% {
        /* start from fully right (relative to width of container)*/
        background-position: 200% 0;
    }

    100% {
        /*move to fully left*/
        background-position: -200% 0;
    }
}